//- サイト全体に関する情報はここへ記述
//- サイト名
- sitetitle = '競馬好きプロフィールメーカー|UMAMATE'
//- サイトURL
- siteurl =   'https://umamate.com'
//- サイト説明文
- sitedescription = '競馬好きプロフィールメーカー|UMAMATE'
//- サイトキーワード
- sitekeywords = '競馬,プロフィール,UMAMATE,ウマメイト'

//- webp対応するかどうか
- webp = false;
//- 画像ディレクトリ
- imgdir = '/assets/img/';

//- twitterシェアメッセージ
- tweetMessage = ''
//- twitterシェアハッシュタグ-ハッシュタグのカンマ区切り。Hash,Tag,です
- hashtags=''
//- Twitterアカウント。「@twitterIdさんから」が追加される
- twitterId = ''
//- 関連するTwitterアカウント。
- related = ""

- share_twitter_url = `https://twitter.com/share?url=${siteurl}&text=${tweetMessage}&hashtags=${hashtags}`//- &via=${twitterId}&related=${related}`
- share_facebook_url = `https://www.facebook.com/share.php?u=${siteurl}`